version: "3"
services:
  api-products:
    build:
      context: ./api-products
    container_name: c-api-products
    image: api-products
    ports:
      - "83:5000"
    environment:
      FLASK_ENV: development
      DB_USERS_IP: 1.0.0.0
      DB_USERS_USER: admin
      DB_USER_PASS: admin
  prometheus:
    build:
      context: ./my-prometheus
    container_name: c-prometheus
    image: my-prometheus
    ports: 
      - "9091:9090"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_BASIC_ENABLED=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin